/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* Global CSS for Docusaurus - Updated for new Imbus logo */

/* Light theme */
/* Light mode */
:root {
  --ifm-color-primary: #00875A;       
  --ifm-color-primary-dark: #007A4F;
  --ifm-color-primary-darker: #006E44;
  --ifm-color-primary-darkest: #005C36;
  --ifm-color-primary-light: #00A36C;
  --ifm-color-primary-lighter: #00B177;
  --ifm-color-primary-lightest: #00C187;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* Dark mode */
[data-theme='dark'] {
  --ifm-color-primary: #00A36C;
  --ifm-color-primary-dark: #008F5B;
  --ifm-color-primary-darker: #007A4F;
  --ifm-color-primary-darkest: #005C36;
  --ifm-color-primary-light: #00B177;
  --ifm-color-primary-lighter: #00C187;
  --ifm-color-primary-lightest: #00D399;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

