.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.alertBox {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin: 1rem 0 2rem 0;
  font-weight: 600;
  font-size: 1rem;
}


.alertWarning {
  background-color: #fff4e5; 
  color: #663c00; 
  border: 1px solid #ffcc80;
}

.alertInfo {
  background-color: #e5f6ff; 
  color: #004466; 
  border: 1px solid #80d4ff;
}

.alertError {
  background-color: #ffe5e5; 
  color: #660000; 
  border: 1px solid #ff8080;
}
